@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="cursive-left" style="color: #D2691E; "> My profile: </h2>
<br>

<div>
    <table>
        <tr><td style="text-align: left"><b> Name:</b></td><td style="padding-left: 5px;"> @ViewBag.User.Name</td></tr>
        <tr><td style="text-align: left"><b> Surname:</b></td><td style="padding-left: 5px;">@ViewBag.User.Surname</td></tr>
        <tr><td style="text-align: left"><b> Age:</b></td><td style="padding-left: 5px;"> @ViewBag.User.Age y.o.</td></tr>
        <tr><td style="text-align: left"><b> E-mail:</b></td><td style="padding-left: 5px;"> @ViewBag.User.Email</td></tr>
        <tr><td style="text-align: left"><b> Address:</b></td><td style="padding-left: 5px;"> @ViewBag.User.Address</td></tr>
    </table>
</div>

<br />
<div id="aContainer">
    <a style="margin: 15px" href="~/User/ChangeOwnData">Change own data</a>
</div>
<br />
<div id="aContainer">
    <a style="margin: 15px" href="~/User/ChangePass">Change password</a>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div style="text-align: center" id="aContainer">
    <a style="margin: 15px;" href="~/User/Login">Log out</a>
</div>